.splash-content {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.canvas-container {
  --scale: 64;
  display: block;
  width: 100%;
  /* 16:9 */
  max-width: calc(16px * var(--scale));
  height: calc(9px * var(--scale));
}

.canvas-container canvas {
  display: block;
  border-radius: 12px;
}

.color-picker-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}