.balatro-splash-wrapper {
  display: flex;
  flex-direction: column;
}

.balatro-splash-container {
  --scale: 64;
  display: block;
  width: 100%;
  /* 16:9 */
  max-width: calc(16px * var(--scale));
  height: calc(9px * var(--scale));
}

.balatro-splash-container canvas {
  display: block;
  border: 4px solid #ffffffde;
  border-radius: 10px;
}

.color-picker-wrapper {
  display: flex;
  gap: 16px;
  padding: 24px 0px;
}

.color-picker-wrapper .color-picker {
  display: flex;
  flex-direction: column;
  align-items: center;
}