:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 400;

  color-scheme: dark;
  background-color: #152326;
  color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 0;
}

section {
  padding-bottom: 16px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.87);
  margin-bottom: 16px;
}

button {
  padding: 0;
  cursor: pointer;
}